* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.container-fluid {
    margin: 0px auto;
    padding: 0px;
    width: 1170px;
    height: auto;
}

.container-fluid .container {
    margin-top: 20px;


}

.container-fluid .menu {
    width: 100%;
    height: 40px;
    font-size: 30px;
    font-variant-caps: all-petite-caps;

}

.container-fluid .menu ul {
    list-style: none;
}

.container-fluid .menu ul li {
    background-color: red;
    width: 190px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    position: relative;
    border: 1px solid white;


}

.container-fluid .menu ul li a {
    text-decoration: none;
    display: block;
}

.container-fluid .menu ul li a:hover {
    background: white;
    color: red;
    transition: .5s;
    font-size: 35px;
    font-style: italic;
}

.container-fluid .menu ul ul {
    position: absolute;
    display: none;

}

.container-fluid .menu ul li:hover > ul {
    display: block;
}


.container-fluid .menu ul ul ul {
    margin-left: 190px;
    top: 0px;
}


p {
    background-color: black;
    color: green;
}
